.padding-0 {
    padding-right: 0;
    padding-left: 1;
}

.form-control {
    width: 50px;

}
.btn {
    background-color: black;
    color: #ececec;
}

.btn2 {
    background-color: #5d1077;
}

.card-header {
    display: flex;
}
